- community.general.github_release:
    action: latest_release
    repo: sops
    token: '{{ github_token }}'
    user: mozilla
  name: Sops | Get release
  register: release
- ansible.builtin.get_url:
    dest: '{{ bin_dir }}/sops'
    mode: a+x
    url: https://github.com/mozilla/sops/releases/download/{{ release.tag }}/sops-{{
      release.tag }}.linux
  become: true
  name: Sops | Install binary
