- name: Get latest release
  community.general.github_release:
    action: latest_release
    user: ImageOptim
    repo: gifski
    token: "{{ github_token }}"
  register: release

- name: Download
  ansible.builtin.unarchive:
    dest: "{{ setup_dir }}"
    mode: 0755
    src: https://github.com/ImageOptim/gifski/releases/download/{{ release.tag }}/gifski-{{ release.tag }}.tar.xz
    remote_src: true
  become: true

- name: Install
  ansible.builtin.copy:
    dest: "{{ bin_dir }}/gifski"
    force: true
    mode: a+x
    src: "{{ setup_dir }}/linux/gifski"
  become: true
