- community.general.github_release:
    action: latest_release
    repo: watchexec
    token: '{{ github_token }}'
    user: watchexec
  name: Watchexec | Get latest release
  register: release
- ansible.builtin.dnf:
    disable_gpg_check: true
    name: https://github.com/watchexec/watchexec/releases/download/{{ release.tag
      }}/watchexec-{{ release.tag[1:] }}-x86_64-unknown-linux-gnu.rpm
    state: present
  become: true
  name: Watchexec | Install
