[Desktop Entry]
Version=1.1
Type=Application
Name=Cacher
Comment=The code snippet organizer for pro developers
Icon=cacher
Exec=/opt/Cacher.AppImage
Actions=
Categories=IDE;Utility;
X-GNOME-Autostart-Delay=15
