- name: Git | Install Git Tools
  ansible.builtin.dnf:
    name:
      - git
      - tig
      - git-extras
    state: present
  become: true

- name: GitHub CLI | Get Latest release
  community.general.github_release:
      action: latest_release
      repo: cli
      token: '{{ github_token }}'
      user: cli
  register: release

- name: GitHub CLI | Install
  ansible.builtin.dnf:
    name: https://github.com/cli/cli/releases/download/{{ release.tag }}/gh_{{ release.tag[1:] }}_linux_amd64.rpm
    state: present
  become: true

- name: GitLab CLI | Install
  ansible.builtin.dnf:
    disable_gpg_check: true
    name: https://gitlab.com/gitlab-org/cli/-/releases/v1.25.3/downloads/glab_1.25.3_Linux_x86_64.rpm
    state: present
  become: true

