- name: Python | Install Core PIP packages
  ansible.builtin.pip:
    name: "{{ item }}"
  loop:
    - requests
    - setuptools
    - pipx

- name: Install Uv for managing of Python envrionments
  community.general.pipx:
    name: uv
    state: present
