- ansible.builtin.dnf:
    name: libpq-devel
    state: present
  become: true
  name: Install PostgresSQL client
- ansible.builtin.dnf:
    name: community-mysql
    state: present
  become: true
  name: Install MySQL client
- ansible.builtin.dnf:
    name:
    - pgcli
    - mycli
    state: present
  become: true
  name: RBDMS cli tools
