- name: WebCatalog | Get latest release
  github_release:
    user: webcatalog
    repo: webcatalog-app
    action: latest_release
    token: "{{ github_token }}"
  register: wc_release

- name: WebCatalog | Download AppImage
  get_url:
    url: "https://github.com/webcatalog/webcatalog-app/releases/download/{{ wc_release.tag }}/WebCatalog-{{ wc_release.tag[1:] }}.AppImage"
    dest: "/opt/WebCatalog.AppImage"
    mode: a+x
  become: true

- name: WebCatalog | Install Desktop file
  copy:
    src: applications/webcatalog.desktop
    dest: "{{ applications_dir }}/webcatalog.desktop"
    mode: 0644
