- ansible.builtin.dnf:
    name: tilix
    state: present
  become: true
  name: Tilix | Install package
- community.general.dconf:
    key: '{{ item.key }}'
    state: present
    value: '{{ item.value }}'
  name: Tilix | Settings
  with_items:
  - key: /com/gexperts/tilix/enable-transparency
    value: 'true'
  - key: /com/gexperts/tilix/new-window
    value: '''new-session'''
  - key: /com/gexperts/tilix/paste-strip-first-char
    value: 'true'
  - key: /com/gexperts/tilix/sidebar-on-right
    value: 'true'
  - key: /com/gexperts/tilix/theme-variant
    value: '''dark'''
  - key: /com/gexperts/tilix/unsafe-paste-alert
    value: 'false'
  - key: /com/gexperts/tilix/use-tabs
    value: 'true'
