- name: Gnome Extensions Manager | Install
  community.general.flatpak:
    name: com.mattjakeman.ExtensionManager
    state: present

- name: Gnome extensions | Install gnome-extensions-cli
  community.general.pipx:
    name: gnome-extensions-cli
    state: present

- name: Gnome Extensions | Install
  ansible.builtin.shell: gnome-extensions-cli install {{ item }} # noqa command-instead-of-shell
  loop:
    - appindicatorsupport@rgcjonas.gmail.com
    - caffeine@patapon.info
    - lineup@hedgie.tech
    - netspeedsimplified@prateekmedia.extension
    - status-area-horizontal-spacing@mathematical.coffee.gmail.com
    - Vitals@CoreCoding.com
    - org.gnome.shell.extensions.lilypad
    - cloudflare-warp-toggle@khaled.is-a.dev
    - tailscale@joaophi.github.com
    - mediacontrols@cliffniff.github.com
    - vicinae@dagimg-dot
    - just-perfection-desktop@just-perfection

- name: Set Vitals extension Settings
  community.general.dconf:
    key: "{{ item.key }}"
    state: present
    value: "{{ item.value }}"
  loop:
    - key: /org/gnome/shell/extensions/vitals/hot-sensors
      value:
        - _memory_usage_
        - _system_load_1m_
    - key: /org/gnome/shell/extensions/vitals/position-in-panel
      value: 1
    - key: /org/gnome/shell/extensions/vitals/show-battery
      value: "false"
    - key: /org/gnome/shell/extensions/vitals/show-fan
      value: "false"
    - key: /org/gnome/shell/extensions/vitals/show-voltage
      value: "false"

- name: Set Just Perfection Settings
  community.general.dconf:
    key: "{{ item.key }}"
    state: present
    value: "{{ item.value }}"
  loop:
    - key: /org/gnome/shell/extensions/just-perfection/workspace-switcher-size
      value: 10
    - key: /org/gnome/shell/extensions/just-perfection/dash
      value: "false"
    - key: /org/gnome/shell/extensions/just-perfection/window-demands-attention-focus
      value: "true"

- name: Gnome Extensions | Configure Auto Move Windows
  community.general.dconf:
    key: "{{ item.key }}"
    state: present
    value: "{{ item.value }}"
  loop:
    - key: /org/gnome/shell/extensions/auto-move-windows/application-list
      value:
        "['org.mozilla.firefox.desktop:1','md.obsidian.Obsidian.desktop:4', 'code.desktop:2', 'dev.zed.Zed.desktop:2',
        'jetbrains-goland.desktop:2', 'jetbrains-idea.desktop:2',
        'jetbrains-webstorm.desktop:2', 'com.mitchellh.ghostty.desktop:3','Heynote.desktop:10']"
# - name: Dash to Panel Extension Settings
#   community.general.dconf:
#     key: "{{ item.key }}"
#     state: present
#     value: "{{ item.value }}"
#   loop:
#     - key: /org/gnome/shell/extensions/dash-to-panel/panel-element-positions
#       value: "{'0':[{'element':'activitiesButton','visible':true,'position':'stackedTL'},{'element':'showAppsButton','visible':true,'position':'stackedTL'},{'element':'leftBox','visible':true,'position':'stackedTL'},{'element':'taskbar','visible':true,'position':'stackedTL'},{'element':'centerBox','visible':true,'position':'stackedBR'},{'element':'rightBox','visible':true,'position':'stackedBR'},{'element':'dateMenu','visible':true,'position':'stackedBR'},{'element':'systemMenu','visible':true,'position':'stackedBR'},{'element':'desktopButton','visible':true,'position':'stackedBR'}]}"
#     - key: /org/gnome/shell/extensions/panel-sizes
#       value: "{'0':36}"

# - name: Lillypad Extension settings
#   community.general.dconf:
#     key: /org/gnome/shell/extensions/lillypad/lillypad-order
#     value: "['pop_shell', 'StatusNotifierItem', 'indicator_solaar', 'appindicator_org_kde_StatusNotifierItem', 'dropbox_client']"
