- name: Set default Gnome shortcuts
  community.general.dconf:
    key: "{{ item.key }}"
    state: present
    value: "{{ item.value }}"
  with_items:
    - key: /org/gnome/settings-daemon/plugins/media-keys/screenshot
      value: "''"
    - key: /org/gnome/settings-daemon/plugins/media-keys/screenshot-clip
      value: "''"
    - key: /org/gnome/settings-daemon/plugins/media-keys/area-screenshot
      value: "''"
    - key: /org/gnome/settings-daemon/plugins/media-keys/area-screenshot-clip
      value: "''"
    - key: /org/gnome/settings-daemon/plugins/media-keys/window-screenshot
      value: "''"
    - key: /org/gnome/settings-daemon/plugins/media-keys/window-screenshot-clip
      value: "''"
    - key: /org/gnome/settings-daemon/plugins/media-keys/screenreader
      value: "''"
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-1
      value:
        - <Super>1
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-2
      value:
        - <Super>2
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-3
      value:
        - <Super>3
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-4
      value:
        - <Super>4
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-5
      value:
        - <Super>5
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-6
      value:
        - <Super>6
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-7
      value:
        - <Super>7
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-8
      value:
        - <Super>8
    - key: /org/gnome/desktop/wm/keybindings/toggle-fullscreen
      value:
        - F11
    - key: /org/gnome/desktop/wm/keybindings/show-desktop
      value:
        - <Super>D
    - key: /org/gnome/desktop/wm/keybindings/switch-input-source
      value:
        - ""
    - key: /org/gnome/desktop/wm/keybindings/switch-input-source-backwards
      value:
        - ""
    - key: /org/gnome/shell/keybindings/switch-to-application-1
      value:
        - ""
    - key: /org/gnome/shell/keybindings/switch-to-application-2
      value:
        - ""
    - key: /org/gnome/shell/keybindings/switch-to-application-3
      value:
        - ""
    - key: /org/gnome/shell/keybindings/switch-to-application-4
      value:
        - ""
    - key: /org/gnome/shell/keybindings/switch-to-application-5
      value:
        - ""
    - key: /org/gnome/shell/keybindings/switch-to-application-6
      value:
        - ""
    - key: /org/gnome/shell/keybindings/switch-to-application-7
      value:
        - ""
    - key: /org/gnome/shell/keybindings/switch-to-application-8
      value:
        - ""
    - key: /org/gnome/shell/keybindings/open-new-window-application-1
      value:
        - ""
    - key: /org/gnome/shell/keybindings/open-new-window-application-2
      value:
        - ""
    - key: /org/gnome/shell/keybindings/open-new-window-application-3
      value:
        - ""
    - key: /org/gnome/shell/keybindings/open-new-window-application-4
      value:
        - ""
    - key: /org/gnome/shell/keybindings/open-new-window-application-5
      value:
        - ""
    - key: /org/gnome/shell/keybindings/open-new-window-application-6
      value:
        - ""
    - key: /org/gnome/shell/keybindings/open-new-window-application-7
      value:
        - ""
    - key: /org/gnome/shell/keybindings/open-new-window-application-8
      value:
        - ""
    - key: /org/gnome/desktop/wm/keybindings/maximize-horizontally
      value:
        - <Super>H
    - key: /org/gnome/desktop/wm/keybindings/maximize-vertically
      value:
        - <Super>V
    - key: /org/gnome/desktop/wm/keybindings/close
      value:
        - <Super>Q
    - key: /org/gnome/desktop/wm/keybindings/activate-window-menu
      value:
        - ""
    - key: /org/gnome/desktop/wm/keybindings/move-to-center
      value:
        - <Super>C
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-down
      value:
        - <Super><Alt>Down
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-up
      value:
        - <Super><Alt>Up
    - key: /org/gnome/desktop/wm/keybindings/toggle-above
      value:
        - <Super><Alt>T
    - key: /org/gnome/desktop/wm/keybindings/switch-input-source
      value:
        - ""
    - key: /org/gnome/settings-daemon/plugins/media-keys/help
      value:
        - ""
    - key: /org/gnome/shell/keybindings/toggle-quick-settings
      value:
        - "<Super>Comma"
    - key: /org/gnome/shell/keybindings/toggle-message-tray
      value:
        - "<Super>N"
    - key: /org/gnome/shell/keybindings/focus-active-notification
      value:
        - ""
    - key: /org/gnome/desktop/wm/keybindings/move-to-workspace-1
      value:
        - <Control><Super>1
    - key: /org/gnome/desktop/wm/keybindings/move-to-workspace-2
      value:
        - <Control><Super>2
    - key: /org/gnome/desktop/wm/keybindings/move-to-workspace-3
      value:
        - <Control><Super>3
    - key: /org/gnome/desktop/wm/keybindings/move-to-workspace-4
      value:
        - <Control><Super>4
    - key: /org/gnome/desktop/wm/keybindings/move-to-workspace-5
      value:
        - <Control><Super>5
    - key: /org/gnome/desktop/wm/keybindings/move-to-workspace-6
      value:
        - <Control><Super>6
    - key: /org/gnome/desktop/wm/keybindings/move-to-workspace-7
      value:
        - <Control><Super>7
    - key: /org/gnome/desktop/wm/keybindings/move-to-workspace-8
      value:
        - <Control><Super>8
    - key: /org/gnome/desktop/wm/keybindings/move-to-workspace-right
      value:
        - <Control><Super>Left
    - key: /org/gnome/desktop/wm/keybindings/move-to-workspace-left
      value:
        - <Control><Super>Right
    - key: /org/gnome/desktop/wm/keybindings/move-to-monitor-right
      value:
        - <Shift><Super>Left
    - key: /org/gnome/desktop/wm/keybindings/move-to-monitor-left
      value:
        - <Shift><Super>Right
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-left
      value:
        - <Super>Left
    - key: /org/gnome/desktop/wm/keybindings/switch-to-workspace-left
      value:
        - <Super>Right

- name: Set Custom Keys
  community.general.dconf:
    key: "{{ item.key }}"
    state: present
    value: "{{ item.value }}"
  with_items:
    - name: Set custom Gnome keybindings
      community.general.dconf:
        key: "{{ item.key }}"
        state: present
        value: "{{ item.value }}"
      loop:
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/binding"
          value:
            - <Super>t
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/name"
          value: Open New Terminal Window
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/command"
          value: ghostty

        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/binding"
          value:
            - <Alt><Super>e
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/name"
          value: Toggle Emoji Picker
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/command"
          value: flatpak run it.mijorus.smile

        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom8/binding"
          value:
            - <Super>n
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom8/name"
          value: Toggle Heynote
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom8/command"
          value: /opt/Heynote.AppImage

        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom10/binding"
          value:
            - <Alt>space
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom10/name"
          value: Toggle Vicinae
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom10/command"
          value: vicinae toggle

        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom11/binding"
          value:
            - <Alt>c
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom11/name"
          value: Toggle Clipboard History
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom11/command"
          value: vicinae vicinae://extensions/vicinae/clipboard/history

        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom12/binding"
          value:
            - <Super>w
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom12/name"
          value: Toggle Window Switcher
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom12/command"
          value: vicinae vicinae://extensions/vicinae/wm/switch-windows

        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/binding"
          value:
            - <Super>space
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/name"
          value: Toggle Vicinae (Alternative)
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/command"
          value: vicinae toggle

        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom4/binding"
          value:
            - <Super>plus
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom4/name"
          value: Browser Tabs switcher
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom4/command"
          value: vicinae vicinae://extensions/brpaz/tabctl/list

        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom5/binding"
          value:
            - <Super>dead_acute
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom5/name"
          value: Toggle Snippets Search
        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom5/command"
          value: vicinae vicinae://extensions/brpaz/code-snippets/snippets-search

        - key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings"
          value:
            [
              "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/",
              "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/",
              "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3/",
              "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom8/",
              "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom10/",
              "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom11/",
              "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom12/",
              "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/",
              "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom4/",
              "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom5/",
            ]
