- community.general.github_release:
    action: latest_release
    repo: kubectx
    token: '{{ github_token }}'
    user: ahmetb
  name: Kubectx | Get latest release
  register: kubectx_release
- ansible.builtin.file:
    mode: '0755'
    path: '{{ setup_dir }}/kubectx'
    state: directory
  name: Kubectx | Create tmp dir
- ansible.builtin.unarchive:
    dest: '{{ setup_dir }}/kubectx'
    extra_opts:
    - --strip-components=1
    remote_src: true
    src: https://github.com/ahmetb/kubectx/archive/{{ kubectx_release.tag }}.tar.gz
  name: Kubectx | Download tarball
- ansible.builtin.copy:
    dest: '{{ bin_dir }}/kubectx'
    mode: a+x
    src: '{{ setup_dir }}/kubectx/kubectx'
  become: true
  name: Kubectx | Install
- ansible.builtin.copy:
    dest: '{{ bin_dir }}/kubens'
    mode: a+x
    src: '{{ setup_dir }}/kubectx/kubens'
  become: true
  name: Kubectx | Install Kubens
