- ansible.builtin.get_url:
    dest: /opt/Spotlight-Studio.AppImage
    mode: a+x
    url: https://github.com/stoplightio/studio/releases/latest/download/stoplight-studio-linux-x86_64.AppImage
  become: true
  name: Spotlight Studio | Download AppImage
- ansible.builtin.copy:
    dest: '{{ applications_dir }}/spotlight-studio.desktop'
    mode: '0644'
    src: spotlight-studio.desktop
  name: Spotlight Studio | Install Desktop file
