- Productivity:
    - Proton Mail:
        - icon: proton-mail
          href: https://mail.proton.me
    - Proton calendar:
        - icon: proton-calendar
          href: https://calendar.proton.me
    - Proton Drive:
        - icon: proton-drive
          href: https://drive.proton.me
    - TickTick:
        - icon: /icons/ticktick.png
          href: https://ticktick.com/
    - Raindrop:
        - icon: /icons/raindrop.png
          href: https://raindrop.io/
    - Notion:
        - icon: notion
          href: https://notion.so/
    - Google Keep:
        - icon: google-keep
          href: https://keep.google.com/
    - Nextcloud:
        - icon: nextcloud
          href: https://nextcloud.brunopaz.dev
    - ChatGPT:
        - icon: chatgpt
          href: https://chat.openai.com

- News:
    - Feedly:
        - icon: feedly
          href: https://feedly.com/
    - A Bola:
        - abbr: BO
          href: https://abola.pt/
    - Jornal de Notícias:
        - abbr: JN
          href: https://jn.pt/
    - Público:
        - abbr: PB
          href: https://publico.pt/
    - Dinheiro Vivo:
        - abbr: dv
          href: https://dinheirovivo.pt/
    - Its A FOSS:
        - abbr: FO
          href: https://itsfoss.com/
    - Fedora Magazine:
        - icon: fedora
          href: https://fedoramagazine.org/
    - Hacker News:
        - abbr: HN
          href: https://news.ycombinator.com/

- Social:
    - Reddit:
        - icon: reddit
          href: https://reddit.com/
    - Youtube:
        - icon: youtube
          href: https://youtube.com/
    - Instagram:
        - icon: instagram
          href: https://instagram.com/
    - Twitter:
        - icon: twitter
          href: https://twitter.com/

- Dev Tools:
    - Github:
        - icon: github-light
          href: https://github.com/
    - Code Search:
        - icon: github-light
          href: https://cs.github.com/
    - Cloudflare:
        - icon: cloudflare
          href: https://dash.cloudflare.com/
    - Namecheap:
        - icon: /icons/namecheap.png
          href: https://www.namecheap.com/
    - Hetzner:
        - icon: hetzner
          href: https://hetzner.cloud/
    - Harbor Container Registry:
        - icon: harbor
          href: https://harbor.home.arpa
    - Minio:
        - icon: minio
          href: https://minio.home.arpa
    - Jwt.io:
        - icon: /icons/jwt.io.png
          href: https://jwt.io/
    - Docker Hub:
        - icon: docker
          href: https://hub.docker.com/
    - Regex Tester:
        - icon: /icons/regex101.png
          href: https://regex101.com/
    - Stack Overflow:
        - icon: /icons/stack-overflow.png
          href: https://stackoverflow.com/
    - Repl.it:
        - icon: /icons/replit.png
          href: https://repl.it/
    - JSON Editor:
        - abbr: JE
          href: https://jsoneditoronline.org/
- Dev Docs:
    - Golang:
        - icon: go
          href: https://go.dev/doc/
    - Python:
        - icon: python
          href: https://docs.python.org/3/
    - Typescript:
        - icon: typescript
          href: https://www.typescriptlang.org/docs/
    - NestJS:
        - icon: /icons/nestjs.svg
          href: https://docs.nestjs.com/
    - NuxtJS:
        - icon: /icons/nuxt.png
          href: https://nuxt.com/docs
    - VueJS:
        - icon: /icons/vuejs.png
          href: https://vuejs.org/guide/introduction.html
    - Astro:
        - icon: /icons/astro.png
          href: https://docs.astro.build/
    - Tailwind:
        - icon: /icons/tailwindcss.png
          href: https://tailwindcss.com/docs
    - Strapi:
        - icon: strapi
          href: https://strapi.io/documentation/developer-docs/latest/getting-started/introduction.html
    - Terraform:
        - icon: terraform
          href: https://www.terraform.io/docs/index.html
    - Kubernetes:
        - icon: kubernetes
          href: https://kubernetes.io/docs/home/
    - Ansible:
        - icon: ansible
          href: https://docs.ansible.com/ansible/latest/index.html
