- Dev Env:
    - Portainer:
        icon: portainer
        href: https://portainer.docker
        widget:
            type: portainer
            url: http://portainer:9000
            env: 1
            key: ptr_wYkyx7Ty9m1cf4r0hDn2jQrY89BYh7NKUv3ugp5gOgY
        server: local-docker
        container: portainer
    - Grafana Stack:
        icon: grafana
        href: https://grafana.docker
        server: local-docker
        container: grafana
    - SourceGraph:
        icon: sourcegraph
        href: https://sg.docker
        server: local-docker
        container: sourcegraph
    - Traefik:
        icon: traefik
        href: https://traefik.docker
        widget:
            type: traefik
            url: http://traefik:8080
        server: local-docker
        container: traefik
- Projects:
    - Example Project:
        abbr: EP
        href: https://example.com

