[Desktop Entry]
Version=1.1
Type=Application
Name=Caprine
StartupWMClass=Caprine
Comment=Caprine is an unofficial and privacy-focused Facebook Messenger app with many useful features.
Icon=caprine
Exec=/opt/Caprine.AppImage
Actions=
Categories=Internet;
