[Desktop Entry]
Version=1.1
Type=Application
Name=Lens
StartupWMClass=Lens
Comment=The Kubernetes IDE
Icon={{ansbile_env.HOME}}/.local/share/icons/apps/lens.png
Exec=/opt/Lens.AppImage
Actions=
Categories=Development;
