[Desktop Entry]
Version=1.1
Type=Application
Name=Kubernetic
StartupWMClass=Kubernetic
Comment=The Kubernetes Desktop Client
Icon=~/.local/share/icons/kubernetic.png
Exec=/opt/kubernetic/kubernetic
Actions=
Categories=Development;
