[Desktop Entry]
Version=1.1
Type=Application
Name=TickTick
Comment=TickTick: To Do List with Reminder, Day Planner
Icon=~/.local/share/icons/web-apps/ticktick.png
Exec=/opt/TickTick/TickTick
StartupWMClass=TickTick
Actions=
Categories=Calendar;Utility;
