name: CI

on:
  push:
    branches:
      - master
      - main
  pull_request:
      branches:
        - master
        - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.x  # Use the desired Python version

    - name: Install Dependencies
      run: pip install -r requirements.txt

    - name: Install Ansible Galaxy roles
      run: |
        ansible-galaxy install -p .ansible_galaxy/roles -r requirements.yml
        ansible-galaxy collection install -p .ansible_galaxy/collections -r requirements.yml

    - name: Run Ansible Lint
      run: ansible-lint playbooks/setup.yml roles

    - name: Check Syntax
      run: ansible-playbook --syntax-check playbooks/*.yml

